db.sqlite3

.coverage

# Byte-compiled / optimized / DLL files
__pycache__/
.cache/
*.py[cod]
*$py.class
.mypy_cache/
static/

# IDE stuff:
.idea/
.vscode/

# virtualenv
.env/
.env

# uploaded files
/media/


/docker-compose.override.yml

# compiled translation files
*.mo